html {

}
body {
	background-image: url('http://sfwallpaper.com/images/black-cartoon-wallpaper-26.jpg');
    background-repeat: no-repeat;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-board {
	width: 750px;
	height: 500px;
	margin-top: 100px;
	padding-top: 60px;
	border-radius: 25px;
	text-align: center;
	background-color: black;
	color: white;
	border: 1px solid white;
}

.home-board p {
	font-family: Bad Script;
	font-size: 72px;
}

.home-board h6 {
	color: red;
	margin-bottom: 40px;
}

.game-level-board {
	width: 750px;
	height: 500px;
	margin-top: 100px;
	margin-bottom: 50px;
	padding-top: 50px;
	border-radius: 25px;
	text-align: center;
	background-color: black;
	color: white;
	border: 1px solid white;
}

.game-level-board select{
	width: 300px;
	display: block;
    margin : 0 auto;
}

.question-board {
	color: white;
	width: 750px;
	height: 500px;
	margin-top: 100px;
	padding-top: 30px;
	border-radius: 25px;
	text-align: center;
	background-color: black;
	border: 1px solid white;
}

.question-board .p {
	font-size: 32px;
}

.question-board button {
	height: 75px;
	width: 500px;
	background-color: black;
	color: white;
	border-color: white;
	margin-bottom: 10px;
}

.question-board button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.total-score-board {
	width: 750px;
	height: 500px;
	margin-top: 100px;
	padding-top: 60px;
	border-radius: 25px;
	text-align: center;
	background-color: black;
	color: white;
	border: 1px solid white;
}

.loading {
	width: 750px;
	height: 500px;
	margin-top: 100px;
	border-radius: 25px;
	text-align: center;
	background-color: black;
	color: white;
	border: 1px solid white;
}

.tile-button {
	height: 100px;
	width: 250px;
	background-color: black;
	color: white;
	border-color: white;
}

.tile-button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}


.sidebar {
	background-color: #f0f8ff;
	text-align: center;
}

.scoreboard {
	background-color: #f0f8ff;
	font-size: 16px;
}